

    {% if next_url %}
    <input type="hidden" name="next" value="{{next_url}}">
    {% endif %}

    {% if address_type %}
    <input type="hidden" name="address_type" value="{{address_type}}">

    <div class="row">
        <div class="col-lg-12">
            <h3>{{address_type}}-address</h3>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2">
                    <p class="in-name">Name*</p>
                </div>
                <div class="col-lg-5">
<!--                                <input type="text" placeholder="First Name">-->
                    {{form.firstname}}
                </div>
                <div class="col-lg-5">
<!--                                <input type="text" placeholder="Last Name">-->
                        {{form.lastname}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p class="in-name">Street Address*</p>
                </div>
                <div class="col-lg-10">
<!--                                <input type="text">-->
<!--                                <input type="text">-->
                        {{form.address_line_1}}
                        {{form.address_line_2}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p class="in-name">Country*</p>
                </div>
                <div class="col-lg-10">
<!--                                <select class="cart-select country-usa">-->
<!--                                    <option>USA</option>-->
<!--                                </select>-->
                        {{form.country}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p class="in-name">City*</p>
                </div>
                <div class="col-lg-10">
<!--                                <input type="text">-->
                        {{form.city}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p class="in-name">State*</p>
                </div>
                <div class="col-lg-10">
<!--                                <input type="text">-->
                        {{form.state}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p class="in-name">Post Code/ZIP*</p>
                </div>
                <div class="col-lg-10">
<!--                                <input type="text">-->
                        {{form.postal_code}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p class="in-name">Phone*</p>
                </div>
                <div class="col-lg-10">
<!--                                <input type="text">-->
                        {{form.phone}}
                </div>
            </div>

        </div>
    </div>
    {% endif %}
