{% extends 'base.html' %}
{%load static%}

{% block content %}
{% include 'loader.html' %}
{% include 'header.html' with page_title=title %}
{% include 'product/product-ad-section.html' %}

    <!-- Product Page Section Beign -->
    <section class="product-page">
        <div class="container">
            <div class="product-control">
                <a href="#">Previous</a>
                <a href="#">Next</a>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-slider owl-carousel">
                        <div class="product-img">
                            <figure>
                                {% if object.image %}
                                <img src="{{object.image.url}}" alt="">
                                {% endif %}
                                <div class="p-status">new</div>
                            </figure>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="product-content">
                        <h2>{{object.title}}</h2>
                        <div class="pc-meta">
                            <h5>${{object.price}}</h5>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <p>{{object.description}}.</p>
                        <ul class="tags">
                            <li><span>Category :</span> Men’s Wear</li>
                            <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li>
                        </ul>
                        <div class="product-quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                        {% include 'products/add-to-cart.html' %}
                        <ul class="p-info">
                            <li>Product Information</li>
                            <li>Reviews</li>
                            <li>Product Care</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Page Section End -->
{% include 'product/feature-product-section.html' %}
{% include 'footer.html' %}
{% endblock %}
{{object.title}}<br>
{{object.description}}